{% extends 'mom.html'%}
{% block body %}

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" style="font-family: 'Raleway' ;">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#signup">ثبت نام</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left" ">
                    <li class=" d1"><a href="#login">ورود</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
    </div>


    <div id="hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered" style="font-family:'bnazanin'">
                    <img src="assets/img/chlBall.png" alt="ball">
                    <h1>متاسفانه خطایی رخ داده :(</h1>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /hello -->
    {% endblock %}