{% extends 'mom.html'%}

{% block body %}


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" style="font-family: 'Raleway' ;">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="d1"><a href="/logout">خروج</a></li>
            <li class="active"><a>{{name+' سلام'}}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            <a href="/index"><img src=" {{url_for('static',filename='img/chlBall.png' )}}" alt="home" width="77"
                    height="45" href=" /index" title="Home" /></a>
        </ul>

    </div>
    <!--/.nav-collapse -->
</div>
</div>
<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered" style="font-family:'bnazanin'">
                <!-- <img src="assets/img/chlBall.png" alt="ball"> -->
                <img src="{{url_for('static',filename='img/chlBall.png')}}" alt="ball" />

                <h1>لیگ های فوتبال</h1>
                <h2>جدول لیگ های برتر اروپایی</h2>
                <h3> برای دیدن محتوا ثبت نام کنید </h3>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /hello -->

{% endblock %}